.full-withradius {
    position: relative;
    background: #fff;

    /*The background extends to the outside edge of the padding. No background is drawn beneath the border.*/
    background-clip: padding-box;

    border: solid 8px transparent;
    border-radius: 0.8rem;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -8px;
        /* same as border width */
        border-radius: inherit;
        /* inherit container box's radius */
        background: linear-gradient(to left, turquoise, greenyellow);
    }
}

.border-red {
    &:before {
        background: linear-gradient(to left, #910b18, #dc3545);
    }
}

.border-green {
    &:before {
        background: linear-gradient(to left, turquoise, greenyellow);
    }
}